* {
  scroll-behavior: smooth;
}

/* Prevent horizontal scrolling on small devices */
@media (max-width: 920px) {
  body,
  html {
    overflow-x: hidden;
  }

  .container {
    max-width: 100% !important;
    padding-left: 1rem !important;
    padding-right: 1rem !important;
  }
}
